{% extends "base.html.twig" %}

{% block title %} Página de teste {% endblock %}

{% block body %}
teste
<a href="{{path('curso_adicionar')}}" class="btn btn-primary">Adicionar Curso</a>
    <table class="table">
        
        <thead>
        <tr>
            <td>#</td>
            <td scope="col">Curso</td>
            <td scope="col">Duraçao</td>
            <td scope="col">Publicação</td>
        </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
            <tr>
                <td scope="row">{{curso.nomecurso}}</td>
                <td>{{curso.duracaocursomeses}}</td>
                <td>{{curso.datapublicacao|date('d-m-Y')}}</td>
                <td>
                <a href="{{path('curso_editar',{id: curso.id})}}" class="btn btn-primary">Editar</a>

                </td>
            </tr>
            {% endfor %} 

        </tbody>
    </table>
    


{% endblock %}